.joketags-wrapper {
  margin: 1em;
}
.category-wrapper h3 {
  border: 2px solid black;
  margin: 1em;
  padding: 2em;
  background-image: url("./bgc.jpg");
  background-size: 100% 100%;
}

button {
  display: inline-block;
  background-color: #9be1e1;
  width: 9em;
  padding: 0.3em 1.2em;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  font-family: "Roboto", sans-serif;
  color: black;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}
button:hover {
  border-color: rgba(255, 255, 255, 1);
}
