.joketags-wrapper {
  border: 1px solid black;
  padding: 5px;
  margin: 0, auto;
  display: flex;
  margin-left: 5em;
  margin-right: 5em;
  justify-content: space-evenly;
}
button {
  display: inline-block;
  background-color: blue;
  padding: 0.3em 1.2em;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}
button:hover {
  border-color: rgba(255, 255, 255, 1);
}
